@model IEnumerable<Gomi.Infraestrutura.Models.Financeiro.Dashboard.CapitalGiroLiquido>

<h6  style="color:purple; font-size:12px;"> <b>Capital de Giro Líquido</b></h6>

@(Html.DevExtreme().Chart()
    
    .Size(s => s.Height(110).Width(360))
    .CommonAxisSettings(c => c.Grid(g => g.Visible(false)).Label(l => l.Visible(true).DisplayMode(ChartLabelDisplayMode.Standard).Font(f => f.Size(8))))
    .ArgumentAxis(a => a.Visible(true).TickInterval(t => t.Months(1)).AxisDivisionFactor(10).Tick(t => t.Visible(false)).Label(l => l.Format("MMM")).Position(Position.Bottom).Type(AxisScaleType.Discrete))
    .CommonSeriesSettings(s => s
        .ArgumentField("Mes")
        .Type(SeriesType.Bar)
        .Visible(true)
        .ShowInLegend(false)
        )
    .Series(s =>
    {
        s.Add().ValueField("Realizado").Color("#ff6600").Name("Realizado");
        s.Add().ValueField("Previsao").Color("#ffa366").Name("Previsão");
    })
    .BarWidth(0.9)
    .Legend(l => l.Visible(true)
        .VerticalAlignment(VerticalEdge.Top)
        .HorizontalAlignment(HorizontalAlignment.Center))
    .Tooltip(t => t
        .Enabled(true))
    .DataSource(Model)
)

