@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.ResultadoPrevistoParaMes;



    <h6 style="color:red;margin-bottom:0px; font-size:12px;"><b> PAGAMENTOS</b></h6>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:black;font-size:10px;margin-bottom:0px;"><b>Previsto:   @(Model.Previsto_pag)</b></font>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:red;font-size:10px;margin-bottom:0px;"><b>Pago:   @(Model.Pago_pag) </b></font>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:black;font-size:10px;margin-bottom:0px;"><b>A Vencer:   @(Model.AVencer_pag)  </b></font>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:red;font-size:10px;margin-bottom:0px;"><b> Vencidos:   @(Model.Vencidos_pag)  </b></font>



