<div class="row">
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <vc:dashboard-cg-prazo-medio-estocagem max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-estocagem>
                            </div>
                            <div class="col-lg-3">
                                <vc:dashboard-cg-prazo-medio-estocagem-mes-atual max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-estocagem-mes-atual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <vc:dashboard-cg-prazo-medio-pagamento max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-pagamento>
                            </div>
                            <div class="col-lg-3">
                                <vc:dashboard-cg-prazo-medio-pagamentos-mes-atual max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-pagamentos-mes-atual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <vc:dashboard-cg-prazo-medio-recebimento max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-recebimento>
                            </div>
                            <div class="col-lg-3">
                                <vc:dashboard-cg-prazo-medio-recebimentos-mes-atual max-priority="3" is-done="false">
                                </vc:dashboard-cg-prazo-medio-recebimentos-mes-atual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12" >
                                <vc:dashboard-cg-projecao-fluxo-caixa-saldo max-priority="3" is-done="false">
                                </vc:dashboard-cg-projecao-fluxo-caixa-saldo>
                                <vc:dashboard-cg-projecao-fluxo-caixa-saldo-soma max-priority="3" is-done="false">
                                </vc:dashboard-cg-projecao-fluxo-caixa-saldo-soma>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-cg-projecao-fluxo-caixa max-priority="3" is-done="false">
                                </vc:dashboard-cg-projecao-fluxo-caixa>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-9">
                                <vc:dashboard-cg-ciclo-financeiro max-priority="3" is-done="false">
                                </vc:dashboard-cg-ciclo-financeiro>
                            </div>
                            <div class="col-lg-3">
                                <vc:dashboard-cg-ciclo-financeiro-mes-atual max-priority="3" is-done="false">
                                </vc:dashboard-cg-ciclo-financeiro-mes-atual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-cg-capital-giro-liquido max-priority="3" is-done="false">
                                </vc:dashboard-cg-capital-giro-liquido>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>