<div class="row">
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <h6 style="color:green"> Recebimentos </h6>
                                <vc:dashboard-pr-recebimentos-cliente max-priority="3" is-done="false">
                                </vc:dashboard-pr-recebimentos-cliente>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <vc:dashboard-pr-recebimentos-atrasado-cliente max-priority="3" is-done="false">
                                </vc:dashboard-pr-recebimentos-atrasado-cliente>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <vc:dashboard-pr-recebimentos-detalhado-cliente max-priority="3" is-done="false">
                                </vc:dashboard-pr-recebimentos-detalhado-cliente>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <h6 style="color:red"> Pagamentos </h6>
                                <vc:dashboard-pr-pagamentos-pessoas max-priority="3" is-done="false">
                                </vc:dashboard-pr-pagamentos-pessoas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <vc:dashboard-pr-pagamentos-atrasado-pessoa max-priority="3" is-done="false">
                                </vc:dashboard-pr-pagamentos-atrasado-pessoa>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-pr-pagamentos-detalhado-pessoa max-priority="3" is-done="false">
                                </vc:dashboard-pr-pagamentos-detalhado-pessoa>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <vc:dashboard-pr-contas-receber-transacionador max-priority="3" is-done="false">
                                </vc:dashboard-pr-contas-receber-transacionador>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-pr-contas-pagar-transacionador max-priority="3" is-done="false">
                                </vc:dashboard-pr-contas-pagar-transacionador>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-lg-8 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <vc:dashboard-pr-projecao-mensal-pagar-receber max-priority="3" is-done="false">
                                </vc:dashboard-pr-projecao-mensal-pagar-receber>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-pr-previsao-financeira-semana max-priority="3" is-done="false">
                                </vc:dashboard-pr-previsao-financeira-semana>
                                <vc:dashboard-pr-previsao-financeira-proxima-semana max-priority="3" is-done="false">
                                </vc:dashboard-pr-previsao-financeira-proxima-semana>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
