<div class="row">
    <div class="col-lg-7 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-lg-10">
                                <vc:dashboard-resultados-receita-operacional max-priority="3" is-done="false">
                                </vc:dashboard-resultados-receita-operacional>

                            </div>
                            <div class="col-lg-2">
                                <vc:dashboard-resultados-receita-operacional-outras max-priority="3" is-done="false">
                                </vc:dashboard-resultados-receita-operacional-outras>
                            </div>
                            <div class="col-lg-9">
                                <vc:dashboard-resultados-receita-operacional-grid_comentado max-priority="3" is-done="false">
                                </vc:dashboard-resultados-receita-operacional-grid_comentado>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <vc:dashboard-resultados-gastos-operacionais max-priority="3" is-done="false">
                                </vc:dashboard-resultados-gastos-operacionais>
                            </div>
                            <div class="col-lg-2">
                                <vc:dashboard-resultados-gastos-operacionais-outras max-priority="3" is-done="false">
                                </vc:dashboard-resultados-gastos-operacionais-outras>
                            </div>
                            <div class="col-lg-9">
                                <vc:dashboard-resultados-gastos-operacionais-grid_comentado max-priority="3" is-done="false">
                                </vc:dashboard-resultados-gastos-operacionais-grid_comentado>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-10">
                                <vc:dashboard-resultados-analise-financeira max-priority="3" is-done="false">
                                </vc:dashboard-resultados-analise-financeira>
                            </div>
                            <div class="col-lg-2">
                                <vc:dashboard-resultados-analise-financeira-outras max-priority="3" is-done="false">
                                </vc:dashboard-resultados-analise-financeira-outras>
                            </div>
                            <div class="col-lg-12">
                                <vc:dashboard-resultados-analise-financeira-grid_comentado max-priority="3" is-done="false">
                                </vc:dashboard-resultados-analise-financeira-grid_comentado>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-resultados-fluxo-caixa max-priority="3" is-done="false">
                                </vc:dashboard-resultados-fluxo-caixa>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-resultados-lucratividade-acumulada max-priority="3" is-done="false">
                                </vc:dashboard-resultados-lucratividade-acumulada>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <vc:dashboard-resultados-ponto-equilibrio max-priority="3" is-done="false">
                                </vc:dashboard-resultados-ponto-equilibrio>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
