@model  Gomi.Infraestrutura.Models.Financeiro.Dashboard.SaldoDisponibilidadeSoma
<h6 style="color:black;font-size:20px; font-family:Assistant !important; "> <b>CONTAS E SALDOS</b></h6> <br />

<h2 class="text-right" style="color:black; font-family:Assistant !important;"><b> @(Model.Saldo)</b></h2>
