

@model IEnumerable<Gomi.Infraestrutura.Models.Financeiro.Dashboard.RecebimentosCliente>

<h6> Em aberto</h6>

@(Html.DevExtreme().DataGrid()

    .DataSource(Model)
    .Height("100%")
    .Paging(p => p.Enabled(false))
    //.FilterRow(f => f.Visible(true))
    .HeaderFilter(h => h.Visible(true))
    .ShowBorders(false)
    .ShowColumnLines(false)
    .ShowRowLines(true)
    
    
 //   .RowAlternationEnabled(true)
    .Columns(c =>
    {
        c.Add().DataField("Pessoa");
        c.Add().DataField("Valor").Format(Format.Currency).AllowFiltering(false);
    })

    )

<script type="text/javascript">
    $(document).ready(function () {

        var fontSize = 8;

        $('.dx-datagrid').css({'font-size': fontSize + 'px'});
    });
</script>   