<div class="row">
    <div class="col-12">
        <div class="card sub-menu">
            <div class="card-header">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#nav-pessoa-cliente" class="nav-link active" data-toggle="tab" aria-expanded="false">CLIENTES</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-fornecedor" class="nav-link" data-toggle="tab" aria-expanded="false">FORNECEDORES</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-funcionario" class="nav-link" data-toggle="tab" aria-expanded="true">FUNCIONÁRIOS</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-socio" class="nav-link" data-toggle="tab" aria-expanded="true">SÓCIOS</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-governo" class="nav-link" data-toggle="tab" aria-expanded="true">GOVERNO</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-financiamento" class="nav-link" data-toggle="tab" aria-expanded="true">FINANCIADORES</a></li>
                    <li class="nav-item"><a href="#nav-pessoa-banco" class="nav-link" data-toggle="tab" aria-expanded="true">BANCOS</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content br-n pn">
                    <div id="nav-pessoa-cliente" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaClientes">
                                    <vc:cadastro-configuracao-pessoa-cliente-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-cliente-lista>
                                </div>
                                <div id="fichaCliente">
                                    <vc:cadastro-configuracao-pessoa-cliente-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-cliente-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-fornecedor" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaFornecedores">
                                    <vc:cadastro-configuracao-pessoa-fornecedor-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-fornecedor-lista>
                                </div>
                                <div id="fichaFornecedor">
                                    <vc:cadastro-configuracao-pessoa-fornecedor-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-fornecedor-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-funcionario" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaFuncionarios">
                                    <vc:cadastro-configuracao-pessoa-funcionario-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-funcionario-lista>
                                </div>
                                <div id="fichaFuncionario">
                                    <vc:cadastro-configuracao-pessoa-funcionario-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-funcionario-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-socio" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaSocios">
                                    <vc:cadastro-configuracao-pessoa-socio-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-socio-lista>
                                </div>
                                <div id="fichaSocio">
                                    <vc:cadastro-configuracao-pessoa-socio-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-socio-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-governo" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaGovernos">
                                    <vc:cadastro-configuracao-pessoa-governo-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-governo-lista>
                                </div>
                                <div id="fichaGoverno">
                                    <vc:cadastro-configuracao-pessoa-governo-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-governo-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-financiamento" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaFinanciadores">
                                    <vc:cadastro-configuracao-pessoa-financiador-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-financiador-lista>
                                </div>
                                <div id="fichaFinanciador">
                                    <vc:cadastro-configuracao-pessoa-financiador-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-financiador-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="nav-pessoa-banco" class="tab-pane">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaBancos">
                                    <vc:cadastro-configuracao-pessoa-banco-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-banco-lista>
                                </div>
                                <div id="fichaBanco">
                                    <vc:cadastro-configuracao-pessoa-banco-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-pessoa-banco-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>