<div class="row">
    <div class="col-12">
        <div class="card sub-menu">
            <div class="card-header">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#nav-usuario-dados" class="nav-link active" data-toggle="tab" aria-expanded="false">USUÁRIOS</a></li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content br-n pn">
                    <div id="nav-usuario-dados" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="listaUsuarios">
                                    <vc:cadastro-configuracao-usuario-lista max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-usuario-lista>
                                </div>
                                <div id="fichaUsuario">
                                    <vc:cadastro-configuracao-usuario-ficha max-priority="3" is-done="false">
                                    </vc:cadastro-configuracao-usuario-ficha>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>