@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.PrazoMedioPagamentoMesAtual

<br />
<br />
<br />
<h6 style="   text-align:center; color:black; font-size:30px;">@(Model.Dias)  </h6>
<h6 style="   text-align:center; color:black;font:6px;"><b>dias </b></h6>
