@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.ReceitaOperacionalOutras;


<h6 style="color:blue; font-size:10px;margin:1px"><b> Variação Mês</b></h6>
<h6 style="color:black; font-size:10px; margin:1px"><b>@(Model.Variacao)</b></h6>
<h6 style="color:blue; font-size:10px;margin:1px"><b> Média Ano</b></h6>
<h6 style="color:black; font-size:10px;margin:1px"><b>@(Model.Mediaano) </b></h6>
<h6 style="color:blue; font-size:10px;margin:1px"><b> Acumulado Ano</b></h6>
<h6 style="color:black; font-size:10px;margin:1px"><b>@(Model.Acumulado) </b></h6>





