@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.ResultadoPrevistoParaMes;



    <h6 style="color:cornflowerblue; margin-bottom:0px; font-size:12px;"><b> RESULTADO</b></h6>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:black;font-size:10px; margin-bottom:0px;"><b>Previsto:   @(Model.Resultado_previsto)</b></font>
<li style="list-style-type: none;"><hr style="height:1px; border:none; color:#000; background-color:#000; margin-top: 0px; margin-bottom: 0px;" /></li>
    <font style="color:black;font-size:10px;margin-bottom:0px;"><b>Realizado:   @(Model.Resultado_realizado) </b></font>



 
