
@model Gomi.Infraestrutura.Models.Financeiro.Dashboard.ResultadoFinanceiro;

<font class="text-justify" style="color:purple;font-size:12px; "> Resultado Financeiro Líquido</font>
@(Html.DevExtreme().PieChart()
      .Size(s => s.Height(100))

      .Palette(new[] { "#bebebe", "#ffc90c" })
      .Type(PieChartType.Doughnut)
      .Legend(l => l.Visible(false))
      .InnerRadius(0.9)
      .Tooltip(t => t
          .Enabled(true)
          .Format(Format.Percent))
      .Series(s => s
          .Add()
          .ArgumentField("Descricao")
          .ValueField("Valor"))

      .DataSource(Model.Resultados))
<h5 class="text-center text-dark">
    <i class="dx-icon-money text-megna"></i>
    @(Model.SaldoFormatado)
</h5>
