

@model IEnumerable<Gomi.Infraestrutura.Models.Financeiro.Dashboard.RecebimentosAtrasadoCliente>

<h6 > Vencidos </h6>
@(Html.DevExtreme().DataGrid()
    
    .DataSource(Model)
    .Height("100%")
    .ShowBorders(false)
    .ShowColumnLines(false)
    .ShowRowLines(true)
  //  .RowAlternationEnabled(true)
   .Paging(p => p.Enabled(false))
   //.FilterRow(f => f.Visible(true))
   .HeaderFilter(h => h.Visible(true))
   
    .Columns(c =>
    {
        c.Add().DataField("Pessoa");
        c.Add().DataField("Valor").Format(Format.Currency).AllowFiltering(false);
        
    })

    )

<script type="text/javascript">
    $(document).ready(function () {

        var fontSize = 8;

        $('.dx-datagrid').css({'font-size': fontSize + 'px'});
    });
</script>   